<% if flash[:notice] %>
    <div class="font-semibold text-center p-4 border-0 mb-4 bg-green-300 rounded-md">
        <%= notice %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="font-semibold text-center p-4 border-0 mb-4 bg-red-300 rounded-md">
        <%= alert %>
    </div>
<% end %>
