<% if can? :create, Product %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
<% else %>
    <div class="grid grid-cols-1 mb-3">
<% end %>
        <div class="text-start text-xl font-semibold leading-none">
            <%= t('.title') %>
        </div>
        <% if can? :create, Product %>
            <div class="text-end my-auto">
                <%= link_to t('button.add.product'), new_product_path, method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
            </div>
        <% end %>
    </div>

<% if @products.present? %>
    <div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-4 gap-3">
        <% @products.each do |product| %>
            <%= render product %>
        <% end %>
    </div>
<% end %>

<%= render 'shared/pagy' %>